[Server setup]

[IMAP-1993]
documentation = *** note: this server will work for both Office 365 and personal Outlook/Hotmail accounts ***
server_address = outlook.office365.com
server_port = 993
local_address = 127.0.0.1

[SMTP-1587]
documentation = *** note: this server will work for both Office 365 and personal Outlook/Hotmail accounts ***
server_address = smtp.office365.com
server_port = 587
server_starttls = True
local_address = 127.0.0.1

[Account setup]

[exchange]
permission_url = https://login.microsoftonline.com/common/oauth2/v2.0/authorize
token_url = https://login.microsoftonline.com/common/oauth2/v2.0/token
oauth2_scope = https://outlook.office.com/IMAP.AccessAsUser.All https://outlook.office.com/SMTP.Send offline_access
client_id = 3514cf2c-e7a3-45a2-80d4-6a3c3498eca0
client_secret = r=o4@SlzU:MA6MlXM6mPG[44i4gYPq[@
redirect_uri = https://oauth.faircode.eu/

