<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>brian.tracey.zoom-meeting-cleanup</string>
    <key>ProgramArguments</key>
        <array>
          <string>/bin/bash</string>
          <string>-c</string>
          <string>THIS_FILE=/Users/brian.tracey/Library/LaunchAgents/brian.tracey.meeting-opener.plist; launchctl unload $THIS_FILE &gt; /dev/null; rm -f $THIS_FILE</string>
        </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Minute</key>
        <integer>5</integer>
      </dict>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/brian.tracey/.logs/plists/zoom_cleanup_err.log</string>
    <key>StandardOutPath</key>
    <string>/Users/brian.tracey/.logs/plists/zoom_cleanup.log</string>
  </dict>
</plist>
