<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>brian.tracey.new-emails-today</string>
    <key>ProgramArguments</key>
        <array>
          <string>/Users/brian.tracey/protenus/workspace/pythongmailapi/new_emails_today.py</string>
        </array>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardErrorPath</key>
    <string>/Users/brian.tracey/.logs/plists/new_emails_today_err.log</string>
    <key>StandardOutPath</key>
    <string>/Users/brian.tracey/.logs/plists/new_emails_today.log</string>
  </dict>
</plist>
