<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>brian.tracey.minutes-to-next-event</string>
    <key>ProgramArguments</key>
        <array>
          <string>/Users/brian.tracey/protenus/workspace/pythongmailapi/next_gcal_event.py</string>
        </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardErrorPath</key>
    <string>/Users/brian.tracey/.logs/plists/minutes_to_next_event_err.log</string>
    <key>StandardOutPath</key>
    <string>/Users/brian.tracey/.logs/plists/minutes_to_next_event.log</string>
  </dict>
</plist>
