<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.emailproxy</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/brian.tracey/.venv/bin/python3</string>
        <string>-m</string>
        <string>emailproxy</string>
        <string>--config-file</string>
        <string>/Users/brian.tracey/.config/email-oauth2-proxy/emailproxy.config</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/brian.tracey/.local/share/email-oauth2-proxy/proxy.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/brian.tracey/.local/share/email-oauth2-proxy/proxy.log</string>
</dict>
</plist>
